.share {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("../share.html#goo");
  position: relative;
}

.share-button,
.share-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: -40px;
  margin-top: -40px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}

.share-button:hover {
  color: #fff;
}

.share-toggle-button:hover {
  color: white;
  background-color: #666;
}

.share-button {
  font-size: 25px;
  background: #909c38;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #fff;
}

.share-button:hover {
  background-color: #646d27;
}

a.share-button {
  color: #fff;
}

.share-toggle-button {
  z-index: 9;
  background: #414141;
  font-size: 20px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}


#dribbble {
  background-color: #ea4c89;
}

#dribbble:hover, 
#dribbble:focus {
  background-color: #d11960;
}

#twitter {
  background-color: #55acee;
}

#twitter:hover, 
#twitter:focus {
  background-color: #1689e0;
}


#linkedin {
  background-color: #0077b5;
}

#linkedin:hover, 
#linkedin:focus {
  background-color: #004569;
}



