html, body
{
    margin: 0;
    padding: 0;
}

.me {
	height: 250px;
	float: left;
	margin-top: 10px;
	margin-right: 40px;
	margin-bottom: 40px;
}

#about {
	width: 80%;
	height: auto;
	min-height: 320px;
	margin-right: auto;
	margin-left: auto;
}

#about p {
	font-family: raleway, sans-serif;
	font-weight: bolder;
	color: #333;
	font-size: 14pt;
	line-height: 40px;
}

#about h3 {
	margin-top: 80px;
	font-family: raleway, sans-serif;
	font-size: 2em;
}

#about a {
	color: #FD5759;
	text-decoration: none;
	border-bottom: 1px solid #FD5759;
	padding-bottom: 5px;
}
#header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #888;
	margin-top: -40px;
	padding-bottom: 15px;
}

#header a {
	font-family: raleway, sans-serif;
	font-size: 12pt;
	color: #333;
	text-decoration: none;
	margin-top: 40px;
	font-weight: bold;
}

#header a:hover {
	color: #888;
}

#header img:hover {
	opacity: .75;
	font-weight: bold;
}

#header .active {
	color: #888;
	font-weight: bold;
}

#header .active:hover {
	color: #888;
	font-weight: bold;
}

#header p {
	word-spacing: 20px;
}

#social {
	float: right;
	margin-top: -27px;
}

#social img {
	width: 18px;
	margin: 5px;
	margin-top: -60px;
}

.logo {
	width: 60px;
	margin-top: 80px;
	margin-left: 45%;
	margin-bottom: -40px;
}

.logo:hover {
	opacity:1.0;
}

.thumb:hover {
	opacity: .5;
}

#portfolio {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#useless-footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #888;
	height: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}

#mobile-header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 30px;
	text-align: center;
}

#logo-mobile {
	border-right: 2px solid #333;
	padding-right: 20px;
}

.mobile-nav {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}

#mobile-header img:hover {
	opacity: 0.75;
}

#mobile-header img {
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#mobile-nav, #mobile-nav a {
	text-align: center;
	font-size: 12pt;
	font-family: raleway, sans-serif;
	color: #333;
	text-decoration: none;
	word-spacing: 50px;
	margin-top: 50px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile-nav .active {
	border-bottom: 2px solid #888;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #888;
}

