html, body
{
    margin: 0;
    padding: 0;
  }

/* Logo Tab */
.logo {
  width: 60px;
  padding: 20px;
  margin-bottom: 60px;
}
/* Logo Tab */
/* Body */
.about {
  padding-right: 5%;
  width: 30%;
  height: 100%;
  margin-left: 0px;
  min-height: 300px;
  display: inline-block;
  position: fixed;
  background-color: #eee;
  min-width: 400px;
}
.text-wrap {
  margin: 10% 0% 0% 10%;
  width: 100%;
  min-width: 400px;
}
.about .cf {
  background-color: #00d8ff;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 1px;
}
.about .cf:hover {
  background-color: #00adcc;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.about h1 {
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: .5em;
  line-height: 1.25em;
  color: #666;
  text-align: left;
  text-transform: uppercase;
  margin:0px;
  padding: 0px 0px 20px 20px;
  font-weight: bold;
  letter-spacing: -2px;
}
.about h2 {
  font-family: Gill Sans, Verdana;
  font-size: 10pt;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #999;
  padding: 0px 0px 0px 20px;
}
.about p {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 16pt;
    line-height: 36px;
    font-weight: lighter;
    color: #666;
    padding: 10px 10px 10px 20px;
}
.mobile-social {
  display: none;
}
.social {
  width: 100%;
  height: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
.share-icon {
  width: 40px;
  height: 28px;
  padding-top: 12px;
  background-color: #00d8ff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.share-icon:hover {
  background-color: #00adcc;
}
.portfolio {
  width: 65%;
  position: absolute;
  right: 0px;
  display: inline-block;
  padding: 0px;
  min-width: 400px;
}
.thumb, .share-icon {
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  }
.grid li > a:hover .thumb, .share-icon:hover {
  -ms-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -webkt-transform: scale(1.06);
  transform: scale(1.06);
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
.about {
  width: 100%;
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-top: 3px solid #00d8ff;
  min-width: 400px;
}
.logo {
  margin-bottom: 10px;
}
.text-wrap {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  min-width: 400px;
}
.portfolio {
  position: relative;
  width: 100%;
  min-width: 400px;
}
.social{
  display: none;
}
.mobile-social {
  display: inline-block;
  width: 100%;
  height: 150px;
  padding-top: 50px;
  background-color: #444;
  text-align: center;
  min-width: 400px;
}
}
@media only screen and (min-width: 200px) and (max-width: 800px) {
.about {
  width: 100%;
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 3px solid #00d8ff;
  min-width: 400px;
}
.logo {
  padding-top: 0px;
  margin-bottom: 10px;
}
.text-wrap {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio {
  position: relative;
  width: 100%;
  min-width: 400px;
}
.social{
  display: none;
}
.mobile-social {
  display: inline-block;
  width: 100%;
  height: 150px;
  padding-top: 50px;
  background-color: #444;
  text-align: center;
  min-width: 400px;
}
}